<p id="notice"><%= notice %></p>

<h1>Invites</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Arrival</th>
      <th>Full name</th>
      <th>Host</th>
      <th>Private notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.location_id %></td>
        <td><%= invite.arrival %></td>
        <td><%= invite.full_name %></td>
        <td><%= invite.host %></td>
        <td><%= invite.private_notes %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>

<%= link_to 'Bulk create invites', bulk_invites_path %>
