<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @visitor_log.location_name %>
</p>

<p>
  <strong>Purpose of visit:</strong>
  <%= @visitor_log.purpose_of_visit %>
</p>

<p>
  <strong>Your email address:</strong>
  <%= @visitor_log.your_email_address %>
</p>

<p>
  <strong>Your full name:</strong>
  <%= @visitor_log.your_full_name %>
</p>

<p>
  <strong>Private notes:</strong>
  <%= @visitor_log.private_notes %>
</p>

<%= link_to 'Edit', edit_visitor_log_path(@visitor_log) %> |
<%= link_to 'Back', visitor_logs_path %>
